<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Presented At</th>
			<th>Author(s)</th>
		</tr>
	</thead>
	<tbody>
	{{#entries}}
		<tr>
			<td>{{{date}}}</td>
			<td>{{#should_link}}<a href="{{{link}}}" target="_blank"{{#name}} title="{{name}}"{{/name}}>{{name}}</a>{{/should_link}}{{^should_link}}{{name}}{{/should_link}}</td>
			<td>{{#event_name}}{{event_name}}{{#event_loc}} ({{event_loc}}){{/event_loc}}{{/event_name}}{{^event_name}}{{place}}{{/event_name}}</td>
			<td>{{{authors}}}</td>
		</tr>
	{{/entries}}
	</tbody>
</table>
