{{> styles}}
    <p>
        <a name="top"></a></p>
    <h3>
        Publications</h3>
    <table class="weteachcs-table">
        <thead>
            <tr>
                <th class="weteachcs-table__title">
                    Title</th>
                <th class="weteachcs-table__cite">
                    Citation</th>
                <th class="weteachcs-table__link">
                    Link</th>
            </tr>
        </thead>
        <tbody>
        {{#entries}}
            <tr>
                <td class="weteachcs-table__title">
                    {{name_of_publication}}</td>
                <td class="weteachcs-table__cite">
                    {{{citation}}}</td>
                <td class="weteachcs-table__link">
                    {{#link}}<a href="{{{link}}}" target="_blank" {{#name}} title="{{name}}"{{/name}}>{{#is_download}}Download{{/is_download}}{{^is_download}}View{{/is_download}}</a>{{/link}}</td>
            </tr>
        {{/entries}}
        </tbody>
    </table>
    